/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --primaryClr: #fe4e37;
    --secondaryClr: #fffaf9;
    --bgClr: #f8f9fd;
    --white: #fff;
    --black: #000;
    --textClr: #4f5e71;
}

*{
    /* font-family: "Libre Baskerville", serif; */
    font-family: "Lato", sans-serif;
}
li{
    list-style: none;
}